body { background-color: #fff; font-family: 'Poppins', sans-serif; }
.container { padding: 40px; max-width: 900px; margin: auto; }
h2 { color: #30387B; font-size: 24px; font-weight: 700; margin-bottom: 30px; }
form { display: flex; flex-direction: column; gap: 20px; }
label { font-weight: 500; margin-bottom: 5px; }
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}
.btn-primary {
  background-color: #30387B;
  border: none;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 6px;
  display: flex;
  align-items: center;
  width: max-content;
}
.btn-primary:hover {
  background-color: #2a3169;
}
.btn i {
  margin-right: 6px;
}